.productpagemaincontainer{
    display: flex;
    flex-direction: column;
}

.productpageheader{
    display: flex;
    flex-direction: row;
    padding: 12px 0px 12px 40px ;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background: #fff;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 997;
    position: fixed;
    width: 98%;
}

#main-header {
    text-decoration: none;
  }
.productpageheadertitle{
    /* color: #48f110; */
    color: #FFA500;
    font-size: 32px;
   
    
}

.productpageheadercenter{
    display: flex;
    list-style: none;
    flex-direction: row;
    grid-gap: 25px;
    gap: 20px;
       
}
li:hover{
    color: #FFA500;
    
}
.productpageheaderbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.productpageheaderbutton{
    margin: 1vw;
}
.productpagecontent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns of equal width */
    gap: 40px; /* Add some gap between images */
    margin-top: 15vh;
    padding: 20px;
  }
  
  /* Style for each individual product item */
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc; /* Add a border around each product item */
    border-radius: 10px; /* Optional: Add some border-radius for a rounded look */
    overflow: hidden; /* Hide any overflowing content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box-shadow for a lift effect */
    transition: transform 0.3s;
  }
  
  .product-resized-image {
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
    width: 250px;
    
  }
  .product-item:hover {
  transform: scale(1.1); 
  opacity: 1;  
 
}
  
  .product-item-price{
    margin-top: 20px;
  }
  .product-item-buttons{
    display: flex;
    flex-direction: column;
    
  }
  .product-item-button1 {
    margin: 10px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius:27px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #FFA500, #FF8000);
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .product-item-button2{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius:27px;
    padding: 10px 20px;
    background:#f6dc13;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }